FIREWORKS_API_KEY=
TAVILY_API_KEY=
OPENAI_API_KEY=

# Fireworks models
FIREWORKS_EMBEDDING_MODEL=
FIREWORKS_CHAT_MODEL=

# LangSmith (for tracing and cost analysis)
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=AIE9-LLM-Servers
